[Unit]
Description=Mount / Unmount Encrypted Home Directory for UID %I
DefaultDependencies=no
Conflicts=umount.target
IgnoreOnIsolate=true
Before=user-%i.slice
Requires=user-%i.slice

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutSec=0
ExecStart=/usr/local/sbin/crypthome-mount %i
ExecStop=/usr/local/sbin/crypthome-umount %i

[Install]
WantedBy=user-%i.slice

## vim:filetype=systemd
